---
- name: Copy build context
  copy:
    src: "{{ role_path }}/files/"
    dest: /tmp/docker-compose


- name: Remove running containers
  become: yes
  command: 'docker-compose rm -f'
  args:
     chdir: /tmp/docker-compose

- name: Deploy containers
  become: yes
  command: 'docker-compose up -d spring-boot-hello-world=3'
  args:
     chdir: /tmp/docker-compose
